/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
    display: grid;
    grid-template-rows: 1fr 1fr 0.1fr;
    height: 100vh
}

.background {
    height: 100vh;
    background-image: url(images/jkDSC_9050.jpg);
    background-size: cover;
    background-position: center;
}

.header {
    grid-row: 1;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.07em;
    font-family: "Courier New", Courier, "Lucida Console", monospace;
}

.main {
    grid-row: 2;
    font-size: 1.2rem;
    font-weight: 300;
    color: #f0f0f0;
    letter-spacing: 0.25em;
    text-align: right;
}

.main-primary{
    padding-right: 1rem;
}

.heading-primary {
    padding-top: 2rem;
    padding-left: 2rem;
}

.footer {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.impressum {
    color: white;
    font-weight: 100;
    text-align: center;
    padding-bottom: 0.5rem;
    
}
